* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    width: 100vw;
}

header {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #f5f5f5;
    padding: 0.5rem 0 1rem 0.5rem;
}

nav {
    grid-column: 1/2;
    grid-row: 2;
    height: calc(100vh - 4rem);
    background-color: #eee;
    padding: 1em;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    height: 2.5rem;
}

ul li:hover {
    background-color: rgb(201, 220, 227);
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5);
}

ul li.active {
    background-color: lightblue;
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5);
}

ul li a {
    flex-grow: 1;
    text-align: left;
    line-height: 2.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 0.5rem;
}

ul a:visited {
    color: inherit;
}

ul li span:hover {
    cursor: pointer;
}

nav button {
    display: block;
    height: 2rem;
    width: 70%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5), 0 -1px 2px rgba(98, 98, 98, 0.5);
    margin: auto;
    margin-top: 2rem;
    font-size: 1rem;
}



nav button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.project-modal,
.task-modal {
    margin: 4rem auto;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.project-modal h3,
.task-modal h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-modal form p,
.task-modal form p {
    margin-bottom: 1rem;
}

.project-modal input,
.project-modal form label,
.task-modal input,
.task-modal form label {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.project-modal form label,
.task-modal form label {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.3em;
}

.project-modal p:last-child,
.task-modal p:last-child {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.project-modal button,
.task-modal button {
    width: 40%;
    height: 2rem;
    border: none;
}

.confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-modal.hidden {
    display: none;
}

.confirm-modal-content {
    background: white;
    padding: 1em 2em;
    border-radius: 5px;
    text-align: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

main {
    grid-column: 2/3;
    grid-row: 2;
    padding: 1rem;
}

.project-title {
    text-align: center;
    margin-bottom: 2rem;
}

.add-task-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5), 0 -1px 2px rgba(98, 98, 98, 0.5);
    font-size: 1rem;
    letter-spacing: 0.2ch;
}

.task-list-container {
    width: 500px;
    margin: 0 auto;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 252, 252);
    margin-bottom: 1rem;
}

.task>* {
    width: 100%;
}

.task>p:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.task button {
    background-color: transparent;
    border: none;
}

.task button:hover,
.task button:focus {
    cursor: pointer;
}

.task-details {
    padding: 0.3em 0 0.3em 1em;
    margin-top: 0.4em;
    border-left: 3px solid #ddd;
    font-style: italic;
}