* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    width: 100vw;
}

button {
    margin: 0.3em 0;
    display: block;
}

header {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #f5f5f5;
    padding: 0.5rem 0 1rem 0.5rem;
}

nav {
    grid-column: 1/2;
    grid-row: 2;
    height: calc(100vh - 4rem);
    background-color: #eee;
    padding: 1em;
}

ul {
    list-style: none;
}

ul a {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    margin: auto;
}

ul a:visited {
    color: inherit;
}

ul a:active,
ul a:hover {
    background-color: lightblue;
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5);
}

nav button {
    height: 2rem;
    width: 70%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 2px rgba(98, 98, 98, 0.5), 0 -1px 2px rgba(98, 98, 98, 0.5);
    margin: auto;
    margin-top: 2rem;
    font-size: 1rem;
}

nav button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.project-modal,
.task-modal {
    margin: 4rem auto;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.project-modal h3,
.task-modal h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-modal form p,
.task-modal form p {
    margin-bottom: 1rem;
}

.project-modal input,
.project-modal form label,
.task-modal input,
.task-modal form label {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.project-modal form label,
.task-modal form label {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.3em;
}

.project-modal p:last-child,
.task-modal p:last-child {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.project-modal button,
.task-modal button {
    width: 40%;
    height: 2rem;
    border: none;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

main {
    grid-column: 2/3;
    grid-row: 2;
    padding: 1rem;
}



.task-details {
    padding: 0.3em 0 0.3em 1em;
    margin-top: 0.4em;
    border-left: 3px solid #ddd;
    font-style: italic;
}